* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box-container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 75vh;
    margin: 0 auto;
    width: 75%;
}
.box{
    background-size: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 75%;
    margin: 0 auto;
    width: 75%;

}
.outOfBox{
    align-items: center;
    display: flex;
    justify-content: center;
}
button{
    background-color: bisque;
    font-size: 30px;
    height: 100px;
    width: 200px;
}
